.send-button, .remove-btn {
  background-color: orange;
  border: none;
  color: white;
}

form {
  height: auto !important;
  height: 100%;
}

textarea#bookDescriptionInput {
  height: 10vw;
}

.form-control, .remove-btn {
  height: 40px;
}



